<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="a2bizz_sample_sample_listing_data_source" xsi:type="string">A2bizz\Sample\Model\ResourceModel\Sample\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="A2bizz\Sample\Model\ResourceModel\Sample\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">a2bizz_sample</argument>
			<argument name="resourceModel" xsi:type="string">A2bizz\Sample\Model\ResourceModel\Sample</argument>
		</arguments>
	</virtualType>
</config>
